<div class="container-fluid" style="min-height: 100vh;">
  <div class="card">
    <img src="assets/restaurant-logo.png" alt="Restaurant Logo" class="logo">
    <h1 class="text-center mb-4">Welcome to Restorant app</h1>
    <p class="text-center mb-4">Your favorite restaurant management app. Please choose an option to get started:</p>
    <div class="button-group text-center">
      <a routerLink="/login" class="btn btn-warning text-light">Login</a>
      <a routerLink="/register" class="btn btn-secondary">Create an Account</a>
    </div>
  </div>
</div>
